{% extends 'parent/base.html' %}

{% block title %} Draft Posts({{ postscount }}) {% endblock %}


{% block content %} 


{% for post in posts %}
	<br>
	<div style="margin-top:10px;padding:10px;border: solid black 1px;width:70%;margin:auto;text-align:center">
		<h1>{{ post.title }}</h1>
		<p>{{ post.short_body }}</p>
		<h5 style='background-color:red;padding:5px;width:113px;font-weight:bold;margin:auto'>Status: {{ post.status }}</h5>
		<h5 style="color:blue;font-weight:bold;">Author: {{ post.author }}</h5>
		<a href="{{ post.get_absolute_url }}"><button class="btn-hover color-1">See Post</button></a>
	</div>
{% endfor %}
  {% include 'blog/index/pagination.html' with page=posts %}
{% endblock %}

