	* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
   	 box-sizing: border-box;
   	 font-family: 'ubuntu'
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #fd5c63, #c8102E, #C21E56, #e60023);
    box-shadow: 0 4px 15px 0 #fd5c63;
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #32de84, #66FF00, #32de84, #008B8B);
    box-shadow: 0 4px 15px 0 #32de84;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #002D62, #007FFF, #4B9CD3, #6F00FF);
    box-shadow: 0 4px 15px 0 #002D62;
}

.Pagination{
    background-color: rgba(10, 255, 38, 0.14);
    color: white;
    margin: auto;
    border-radius: 3px;
}